server:
  port: 9001

spring:
  security:
    user:
      name: user
      password: password
  application:
    name: user-service

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
