spring:
  application:
    name: user-service
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5432/school_db
    username: school_user
    password: school_pass
    driver-class-name: org.postgresql.Driver

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.flywaydb: DEBUG

server:
  port: 9001