server:
  port: 9006

spring:
  application:
    name: teacher-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/subject_db}
    username: ${SPRING_DATASOURCE_USERNAME:school_user}
    password: ${SPRING_DATASOURCE_PASSWORD:school_pass}
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

